<div class="card">
    <div class="card-image">
        <figure class="image">
        <% if customer.image.attached? %>
                <%= image_tag url_for(customer.image), class: "image is-150x150" %>
        <% else %>
                <%= image_tag "bubble.png", class: "image is-150x150" %>
        <% end %>
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <h2 class="title is-4"><%= customer.full_name %></h2>
            <p><strong>Phone:</strong> <%= customer.phone_number.presence || "N/A" %></p>
            <p><strong>Email:</strong> <%= customer.email_address.presence || "N/A" %></p>
            <p><strong>Notes:</strong> <%= customer.notes.presence || "No notes provided" %></p>
        </div>
    </div>
</div>
